<% include ./partials/header %>


<div class="ui main text container">
  <div class="ui huge header">Restful blog app</div>
  <div class="ui top attached segment segment">
    <div class="ui divide items">
      <% blogs.forEach( function(blog){ %>
      <div class="item">
        <div class="image">
          <img src=" <%= blog.image %>">
        </div>
        <div class="content">
          <a class="header" href="/blogs/<%= blog._id %>">
            <%= blog.title %></a>
          <div class="meta">
            <span>
              <%= blog.created.toDateString() %>
            </span>
          </div>
          <div class="description">
            <p>
              <%- blog.body %>
            </p>
          </div>
            <p> posted by  <%= blog.author.username %></p>
            <div class="extra">
                
              
              <a class="ui floated basic violet button" href="/blogs/<%= blog._id %>">
                Read more
                <i class="right chevron icon">

                </i></a>
           
           
          </div>
        </div>
      </div>
      <% }) %>
    </div>
  </div>
</div>

<% include ./partials/footer %>